.bgWrap {
  position: fixed;
  height: 100vh;
  width: 800vw;
  overflow: hidden;
  z-index: -1;
}

.container{

}

.bgText {
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 40vh;
  text-shadow: 1px 1px 1px #3c5c5e;
}

.imageContainer{
  position: fixed;
  overflow: hidden;
  z-index: -1;
}

.buttonContainer{
  width: 100vw;
  height: 85vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}